body {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    color: #ffffff;
    background-attachment: fixed;
    padding-bottom: 100px;
}

.navColor {
    background-color: #000000;
}

.loginStyles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -20%);
    left: 50%;
    top: 20%;
    width: 300px;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}